.header {
  height: 293px;
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
}

.nav {
  display: flex;
  gap: 32px;
  font-size: 18px;
  list-style: circle;
  text-decoration: underline;
}

.first-nav {
  list-style: none;
  text-decoration: none;
}

.logo {
  display: block;
  height: 104px;
}

.adress {
  font-size: 18px;
  margin-left: 192px;
  line-height: 140%;
}

.cover {
  position: relative;
  color: white;
  height: 757px;
  padding: 165px 50px 50px 50px;
  background-image: url(/images/cover.jpg);
  background-size: auto 100%;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
  background-color: black;
  opacity: 60%;
}

.cover-title {
  position: relative;
  z-index: 2;
  display: block;
  font-size: 100px;
  font-weight: bold;
  line-height: 1.3em;
  letter-spacing: 0.3em;
}

.text-center {
  text-align: center;
}

.text-bottom {
  text-align: right;
}

.description {
  position: relative;
  z-index: 2;
  margin-top: 106px;
  display: flex;
  font-size: 22px;
  font-weight: normal;
  word-spacing: 0.85em;
  justify-content: space-between;
}

.description-text {
  align-content: center;
}

.description-button {
  position: relative;
  z-index: 2;
  background: transparent;
  color: white;
  border-color: white;
  padding: 12px 32px 11px 31px;
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
}

.lots {
  display: grid;
  grid-template-rows: auto;
  margin: 180px 24px 120px 24px;
}

.lots-title {
  display: block;
  margin-left: 40px;
  margin-bottom: 27px;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  height: 100%;
  color: white;
}

a {
  height: 100%;
}

.card {
  position: relative;
  z-index: 2;
  width: 334px;
  max-height: 596px;
  padding: 48px 40px 48px 40px;
}

/* TODO: переименовать классы */

.lot-1 {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.lot-2 {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  }

.lot-3 {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card-title {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 38px;
  font-size: 22px;
}

.card-description {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2em;
}

.lots-button {
  display: block;
  margin-left: 40px;
  grid-row-start: 3;
  grid-row-end: 4;
  text-decoration: underline;
  margin-top: 30px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 359px 1fr;
  height: 595px;
  margin: 0px 24px 180px 24px;
}

.logo-white {
  display: block;
  width: 142px;
  height: 112px;
}

.background-circle {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: 47px;
  justify-content: center;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 240px;
}

.about-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 100px;
  margin-top: 136px;
  text-transform: uppercase;
}

.about-content {
  font-size: 20px;
  line-height: 1.2em;
}

.br {
  margin-bottom: 24px;
}

