.header {
  height: 293px;
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
}

.nav {
  display: flex;
  gap: 32px;
  font-size: 18px;
  list-style: circle;
  text-decoration: underline;
}

.first-nav {
  list-style: none;
  text-decoration: none;
}

.logo {
  display: block;
  height: 104px;
}

.adress {
  font-size: 18px;
  margin-left: 192px;
  line-height: 140%;
}

.main {

}

.cover {
  position: relative;
  color: white;
  height: 757px;
  padding: 165px 50px 50px 50px;
  background-image: url(/images/cover.jpg);
  background-size: auto 100%;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
  background-color: black;
  opacity: 60%;
}

.cover-title {
  position: relative;
  z-index: 2;
  display: block;
  font-size: 100px;
  font-weight: bold;
  line-height: 115%;
  letter-spacing: 0.3em;
}

.text-center {
  text-align: center;
}

.text-bottom {
  text-align: right;
}

.description {
  position: relative;
  z-index: 2;
  margin-top: 106px;
  display: flex;
  font-size: 22px;
  font-weight: normal;
  word-spacing: 0.8em;
}

.description-text {
  align-self: left;
}

.description-button {
  position: relative;
  z-index: 2;
  background: transparent;
  color: white;
  text-transform: uppercase;
  justify-self: right;
}

.lots {
  display: grid;
  grid-template-rows: 74px min-content 53px;
  margin: 180px 24px 120px 24px;
}

.lots-title {
  display: block;
  margin-left: 40px;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.cards {
  display: flex;
  gap: 25px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  height: 100%;
  color: white;
}

a {
  height: 100%;
}

.card {
  position: relative;
  z-index: 2;
  width: 334px;
  max-height: 596px;
  padding: 48px 40px 48px 40px;
}

.lot-1 {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.lot-2 {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  }

.lot-3 {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card-title {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 30px;
  font-size: 22px;
}

.card-description {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2em;
}

.lots-button {
  display: block;
  margin-left: 40px;
  grid-row-start: 3;
  grid-row-end: 4;
  text-decoration: underline;
  margin-top: 30px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 595px;
  margin: 0px 24px 180px 24px;
}

