.header {
  height: 293px;
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
}

.header__links-list-decorated-item {
  list-style: circle;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__logo-image {
  display: block;
  height: 106px;
  width: 136px;
}

.adress {
  display: flex;
  flex-direction: column;
  padding-right: 36px;
  font-size: 18px;
  line-height: 140%;
  text-underline-offset: 4px;
}

.header__adress {
  justify-self: end;
}

.cover {
  position: relative;
  color: white;
  height: 757px;
  padding: 160px 50px 50px 50px;
  background-image: url(/images/cover.jpg);
  background-size: auto 100%;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  opacity: 60%;
}

.aligned-text {
  position: relative;
  z-index: 2;
  display: block;
  font-size: 100px;
  font-weight: bold;
  line-height: 1.32em;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  margin-bottom: 100px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  font-size: 22px;
  font-weight: normal;
  word-spacing: 0.85em;
  justify-content: space-between;
}

.cover__description-text {
  align-content: center;
}

.bet-button {
  position: relative;
  z-index: 2;
  background: transparent;
  color: white;
  border-color: white;
  padding: 12px 32px 11px 31px;
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
}

.lots {
  display: grid;
  grid-template-rows: auto;
  margin: 180px 24px 120px 24px;
}

.lots__heading {
  display: block;
  margin-left: 40px;
  margin-bottom: 27px;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  height: 100%;
  color: white;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  z-index: 2;
  width: 334px;
  max-height: 596px;
  padding: 48px 40px 48px 40px;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  }

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 38px;
  font-size: 22px;
}

.card__text {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2em;
}

.lots__look-more-link {
  display: block;
  margin-left: 40px;
  grid-row-start: 3;
  grid-row-end: 4;
  text-decoration: underline;
  margin-top: 30px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 359px 1fr;
  height: 595px;
  margin: 0px 24px 180px 24px;
}

.logo-white {
  display: block;
  width: 150px;
  height: 120px;
}

.background-circle {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: 47px;
  justify-content: center;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 240px;
}

.about-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 100px;
  margin-top: 136px;
  text-transform: uppercase;
}

.about-content {
  font-size: 20px;
  line-height: 1.2em;
}

.br {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 50px 82px 50px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
}

.footer__links-list-decorated-item {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
}

.footer__social-image {
  max-width: 48px;
  max-height: 48px;
}

